{%extends 'estrutura/base.html'%}

{%block conteudo%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header text-center bg-primary text-white">
                    <h4>Edição de Usuário</h4>
                </div>
                <div class="card-body">
    <form action="{{url_for('caso_editar', id=caso.id)}}" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <label for="projeto" class="form-label">Projeto</label>
                <select class="form-control rounded-pill" id="projeto" name="campoProjeto" required>
                    <option value="" disabled>Selecione uma opção</option>
                    {% for c in projetos %}
                        <option value="{{c.id}}" {% if caso.projeto_id == c.id %}selected{% endif %}>{{c.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="status" class="form-label">Status</label>
                <select class="form-control rounded-pill" id="status" name="campoStatus" required>
                    <option value="" disabled>Selecione uma opção</option>
                    <option value="Rascunho" {% if caso.status == 'Rascunho' %}selected{% endif %}>Rascunho</option>
                    <option value="Em Revisão" {% if caso.status == 'Em Revisão' %}selected{% endif %}>Em Revisão</option>
                    <option value="Revisado" {% if caso.status == 'Revisado' %}selected{% endif %}>Revisado</option>
                    <option value="Ativo" {% if caso.status == 'Ativo' %}selected{% endif %}>Ativo</option>
                </select>
            </div>
        </div>
        <br>
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" name="campoTitulo" value="{{ caso.titulo }}" required>
        </div>

        <div class="mb-3">
            <label for="objetivo" class="form-label">Objetivo</label>
            <textarea class="form-control" id="objetivo" name="campoObjetivo" required>{{ caso.objetivo }}</textarea>
        </div>
        <div class="mb-3">
            <label for="passos" class="form-label">Passo-a-passo</label>
            <textarea class="form-control" id="passos" name="campoPassos" required>{{ caso.passos }}</textarea>
        </div>
        <div class="mb-3">
            <label for="resultadoEsperado" class="form-label">Resultado Esperado</label>
            <textarea class="form-control" id="resultadoEsperado" name="campoResultadoEsperado" required>{{ caso.resultado_esperado }}</textarea>
        </div>
        <div class="mb-3">
            <label for="observacoes" class="form-label">Observações</label>
            <textarea class="form-control" id="observacoes" name="campoObservacoes">{{ caso.observacoes }}</textarea>
        </div>
        <input type="hidden" name="usuario_id" value="{{ current_user.id }}">
        <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
    </form>

</div>
</div>
</div>
</div>
</div>

{%endblock conteudo%}
